<!DOCTYPE html>
<html lang="en">
<head>
    <title>about page</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    {{!-- <link rel="stylesheet" href="../public/css/style.css"> --}}
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Venkateswarareddy Vari. It uses data from mapbox.com and darksky.net!</p>
        <img src="/img/vari.jpg" alt="vari image">  
    </div>
    {{>footer}}
</body>
</html>